<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.basic.mapper.SysDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.platform.model.entity.basic.SysDict">
        <result column="id" property="id" />
        <result column="valid" property="valid" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="dict_name" property="dictName" />
        <result column="dict_code" property="dictCode" />
        <result column="dict_description" property="dictDescription" />
        <result column="type" property="type" />
    </resultMap>

</mapper>
